.container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 2px solid grey;
  letter-spacing: 1px;
  font-size: 1.5rem;
  background-color: rgb(164, 164, 164);
}

th {
  border: 1px solid grey;
  padding: 10px;
  background-color: rgb(110, 110, 110);
  text-align: left;
}

td {
  border: 1px solid grey;
  padding: 10px;
}
tr {
  transition: all 500ms;
}
tr:hover {
  background-color: rgb(205, 205, 205);
}
h2 {
  margin: 0;
  padding: 20px;
}
